<section data-ng-controller="ProfilesController" data-ng-init="findOne()">
    <span>{{profile.created | date:'medium'}}</span> /
    <span>{{profile.user.name}}</span>
    <h2>{{profile.title}}</h2>
    <div data-ng-show="global.user._id == profile.user._id">
        <a class="btn" href="/#!/profiles/{{profile._id}}/edit">
        	<i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div>{{profile.content}}</div>
</section>
